<!DOCTYPE html>
<html>
  <head>
  <title>Ruby on Rails Tutorial Sample App | Help</title>
  </head>

  <body>
  <h1>Sunny</h1>
  <p>Find me in app/views/static_pages/home.html.erb
      <a href = "http://idinaidi.ru/">Best site ever!</a>
      <h2>sanny application by smile<h2>

  </p>
  </body>
</html>