<% provide(:title, 'Home')%>

  <h1>Sunny</h1>
  <p>Find me in app/views/static_pages/home.html.erb
      <a href = "http://idinaidi.ru/">Best site ever!</a>
      <h2>sanny application by smile page <%= yield(:title)%><h2>

  </p>
